h2{
    font-size: 25px;
    color: rgb(3, 82, 82);
    text-align: center;
}

#contatos{
    font-size: 25px;
    text-align: center;
    margin: 5%;
}

iframe{
    border: 1px solid white;
    border-radius: 9px;
    margin-left: 30%;
    margin-bottom: 10%;
}

form{
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    color: rgb(3, 82, 82);
}